body {
  font-family: Helvetica, Arial, sans-serif;
  background: url("a5bg.png") repeat;
  margin: 0;
  padding: 0;
}


header h1 {
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  padding: 20px;
  margin: 0;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: darkblue;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: darkblue;
}

nav ul li a:hover {
  background-color: royalblue; 
}


main h2 {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

main p {
  text-align: justify;
  margin: 20px;
}


main p a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

main p a:hover {
  color: red;
  text-decoration: underline;
}


footer {
  background-color: darkblue;
  border: 3px solid white;
  text-align: center;
  padding: 15px;
  margin: 0;
}

footer p {
  color: white;
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
